<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metodos numericos | Ecuaciones no Lineales</title>
    <link href=".././CSS/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <body>
    <header>
      <h1>Metodos numericos</h1>
    </header>
    <nav>
      <a href="index">Inicio</a>
      <a href="">Metodo 1</a>
      <a href="">Metodo 2</a>
    </nav>
    <section>
      <article>
          <h2>Busquedas incrementales</h2>
          <p>Aca el contenido de esta seccion</p>
          <form method="POST" action="">
              {%  csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Ingresar">
          </form>
        </div>
      </article>
    </section>
    <footer>
      <h4>Proyecto para Analisis Numerico</h4>
      <p>Manolo</p>
      <p>Wilfer</p>
    </footer>
  </body>
</body>
</html>