<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Metodos numericos</title>
    <meta charset="UTF-8">
    <meta name="title" content="Metodos numericos">
    <meta name="description" content="Descripción de la WEB">
    <link href="../CSS/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
      <h1>Metodos numericos</h1>
    </header>
    <nav>
      <a href="">Metodo 1</a>
      <a href="">Metodo 2</a>
    </nav>
    <section>
      <article>
        <form action="">{{ form.as_p }}</form>
        <h2>Solución numérica de ecuaciones no lineales</h2>
        <p>Aca el contenido de esta seccion</p>
        <div>
            <a href="ecuaciones-no-lineales/">Ir a ecuaciones no lineales</a>
        </div>
        <h2>Solución numérica de sistemas de ecuaciones</h2>
        <p>Aca ira el contenido de esta seccion</p>
        <div>
            <a href="sistemasEcuaciones.html">Ir a sistemas de ecuaciones</a>
        </div>
        <h2>Interpolación</h2>
        <p>Aca ira contenido de esta seccion</p>
        <div>
            <a href="sistemasEcuaciones.html">Ir a interpolación</a>
        </div>
      </article>
    </section>
    <footer>
      <h4>Proyecto para Analisis NUmerico</h4>
      <p>Manolo</p>
      <p>Wilfer</p>
    </footer>
  </body>
</html>